.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid wheat;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  border-right: 1px solid wheat;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.item .active {
  color: aqua;
}