.aside {
  min-height: 100%;
  max-width: var(--aside-width);
  width: 100%;
  border-right: 1px solid white;
}

.logo {
  margin-bottom: 20px;
  border-bottom: 1px solid wheat;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.list .item.active {
  color: aqua;
}